language: php
sudo: false

php:
  #- 5.4
  #- 5.5
  #- 5.6
  #- 7.0
  #- 7.1
  #- 7.2
  - nightly

env:
  global:
    - EXIFEYE_STAGING_DIR="$HOME/exifeye_staging"

matrix:
#  include:
#    - php: hhvm
#      dist: trusty
  fast_finish: true
  allow_failures:
    - php: hhvm
#    - php: nightly

cache:
  directories:
    - $EXIFEYE_STAGING_DIR

before_install:
  # Remove XDebug.
  - if [ ! "$TRAVIS_PHP_VERSION" == "7.2" ] && [ ! "$TRAVIS_PHP_VERSION" == "nightly" ]; then phpenv config-rm xdebug.ini; fi

  # Stage ExifEye to get dependencies.
  - |
      if [[ ! -f $EXIFEYE_STAGING_DIR/vendor/autoload.php ]]; then
        git clone https://github.com/mondrake/pel.git $EXIFEYE_STAGING_DIR
        cd $EXIFEYE_STAGING_DIR
        composer install --no-interaction --no-progress --no-suggest
      fi

  # Copy staged /vendor to running path.
  - mkdir -p $HOME/build/mondrake/pel/vendor
  - cp -r $EXIFEYE_STAGING_DIR/vendor $HOME/build/mondrake/pel
  - cd $HOME/build/mondrake/pel

install:
  - php bin/exifeye --version

before_script:
  - mkdir -p build/logs

script:
  # Remove the comment to the line below during development, to let
  # TravisCI re-compile the specification PHP file from the YAML files.
  - php bin/exifeye compile
  #- php bin/exifeye dump test/imagetests/
  - ./vendor/bin/phpcs --runtime-set ignore_warnings_on_exit 1
  - ./vendor/bin/phpunit --coverage-clover build/logs/clover.xml ./test
  #- ./vendor/bin/phpunit test/GH16Test.php
  - php examples/dump-image.php -d  test/broken_images/gh-10-a.jpg
  #- php examples/dump-image.php -d  test/broken_images/gh-10-b.jpg
  #- php examples/dump-image.php -d  test/broken_images/gh-11.jpg
  - php examples/dump-image.php -d  test/broken_images/misplaced-exif.jpg
  #- php examples/dump-image.php -d test/images/gh-16.jpg
  - php examples/dump-image.php -d test/imagetests/apple-iphone6s.jpg
  - php examples/dump-image.php -d test/imagetests/apple-iphone7.JPG
  #- php examples/dump-image.php -d test/imagetests/canon-eos-650d.jpg
  #- php examples/dump-image.php -d test/imagetests/canon-ixus-ii.jpg
  #- php examples/dump-image.php -d test/imagetests/canon-powershot-s60.jpg
  #- php examples/dump-image.php -d test/images/gh-16.jpg
  #- php bin/exifeye dump test/broken_images/gh-10-a.jpg
  #- php bin/exifeye dump test/broken_images/gh-10-b.jpg
  #- php bin/exifeye dump test/broken_images/gh-11.jpg
  #- php bin/exifeye dump test/broken_images/misplaced-exif.jpg
  #- php bin/exifeye dump test/imagetests/apple-iphone6s.jpg
  #- php bin/exifeye dump test/imagetests/apple-iphone7.JPG
  #- php bin/exifeye dump test/imagetests/canon-eos-650d.jpg
  #- php bin/exifeye dump test/imagetests/canon-ixus-ii.jpg
  #- php bin/exifeye dump test/imagetests/canon-powershot-s60.jpg
  #- php bin/exifeye dump test/broken_images/

after_script:
  - php vendor/bin/coveralls -v
